* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    height: 100;
    width: 100;
}
h3 {
    text-align: center;
    text-transform: capitalize;
    font-size: 23px;
}
#header {
    text-transform: capitalize;
    background-color: rgba(27, 27, 59, 0.994);
    color: white;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 80px;
    height: 80px;
}
#about_me {
    text-transform: capitalize;
    text-align: center;
    


}
div {
    height:100px;
    width: 800px;
}
#education {
    background-color: rgb(211, 233, 242);
    text-align: center;
    
}